{% set sshd_config = pillar.get('sshd_config', {}) %}

# This file is managed by salt. Manual changes risk being overwritten.
# The contents of the original sshd_config are kept on the bottom for
# quick reference.
# See the sshd_config(5) manpage for details

{% for keyword, argument in sshd_config.iteritems() %}
    {%- if argument is sameas true %}
{{ keyword }} yes
    {%- elif argument is sameas false %}
{{ keyword }} no
    {%- elif argument is string or argument is number %}
{{ keyword }} {{ argument }}
    {%- else %}
        {%- for item in argument %}
{{ keyword }} {{ item }}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
